* {
    padding: 0;
    margin: 0;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.card {
    min-width: 300px;
    overflow: hidden;
    border-radius: 0.4em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 1em 0.5em rgb(0, 0, 0, 0.2);
}

.card::before {
    display: block;
    content: '';
    position: absolute;
    inset: 0;
    box-shadow: 0 0 5em rgb(0, 0, 0, 0.7);
    opacity: 1;
    transition: opacity 0.3s ease-in;
}

.card:hover::before {
    opacity: 0;
}

.card svg {
    display: block;
    width: 2em;
    position: absolute;
    bottom: 1em;
    right: 1em;
    fill: #fff;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.3s ease-in;
}

.card svg:hover {
    fill: #090;
    transition: fill 0.3s ease-in;
}

.card:hover svg {
    opacity: 1;
}

.viewport {
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.viewport:nth-child(1) {
    background-image: 
    linear-gradient(
      to right in oklab, 
      oklch(70% 0.5 340) 0%, oklch(90% 0.5 200) 100%
    )
  ;
}

.viewport:nth-child(2) {
    background-image: 
    linear-gradient(
      91deg in oklch, 
      oklab(48% 0.43 0.04) 33% 33%, oklch(90% .3 200) 131% 131%
    )
  ;
}