div {
    font-family: 'Gill Sans', sans-serif;
}


different types selectors

h1 {
    font-size: 50px;
}

class selsector
.first {
    text-decoration: underline;
}

id selector
#second {
    font-style: italic;
}

[class] {
    color: rebeccapurple;
}
